.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #141332;
  overflow: hidden;
}

/* Light mode settings */

#light .app {
  background-color: #fafafa
}
#light .basic-select-fieldset {
  border-color: #d1d1d7; /* Example border color for light theme */
}
#light .basic-select-label {
  color: #333; /* Example label color for light theme */
}
#light .basic-select-select {
  color: #000; /* Example text color for light theme */
  background-color: #fafafa; /* Example background color for light theme */
}
#light .transactions-header, #light .transactions-h1 {
  color: #000; /* Example text color for light mode */
}
#light .transactions-table-container tr:hover {
  background-color: #8aaae556;
}
#light .transactions-searchbar-container {
  background-color: #fff; /* Example background color for light mode */
  border: 1px solid #d1d1d7; /* Example border color for light mode */
}
#light .searchbar-text {
  color: #333; /* Example text color for light mode */
}
#light .transactions-table-container th {
  background-color: #8aaae5c4; /* Example header background color for light mode */
  color: #000; /* Example header text color for light mode */
}
#light .budget-dropdown-button {
  border: 1px solid #d1d1d7;
}
#light .navbar-button {
  background-color: #29519be3
}
#light .navbar {
  background-color: #fafafa
}
#light .navbar-button:hover {
  background: #2d299be3;
}
#light .cashflow {
  background-color: #fafafa
}
#light .add-transx-container {
  background-color: #fafafa
}
#light .transactions {
  background-color: #fafafa
}
#light .transactions-table-container {
  background-color: #fafafa
}
#light .table-scroll {
  background-color: #fafafa
}
#light .budget {
  background-color: #fafafa
}
#light .budget-header {
  background-color: #fafafa
}
#light .budget-pie-chart {
  background-color: #fafafa
}
#light .budget-percentage-breakdown {
  background-color: #fafafa
}
#light .logo-text {
  color: #141332
}
#light .user-details {
  color: #141332
}
#light .cashflow-h1 {
  color: #141332
}
#light .cashflow-header-text {
  color: #141332
}
#light .transx-text {
  color: #141332
}
#light .transx-amount {
  color: #141332
}
#light .transactions-h1 {
  color: #141332
}
#light .transactions-tr {
  color: #141332
}
#light .budget-header {
  color: #141332
}
#light .percentage-description {
  color: #141332
}
#light .percentage {
  color: #141332
}
#light .budget-details-h3 {
  color: #141332
}
#light .budget-categories-h3 {
  color: #141332
}
#light {
  background-color:#8AAAE5
}

/* Dark Mode Settings */
#dark .app {
  background-color: #141332
}
#dark .navbar {
  background-color: #141332
}
#dark .cashflow {
  background-color: #1D1D41
}
#dark .dashboard-totals-container {
  background-color: #141332
}
#dark .transactions {
  background-color: #1D1D41
}
#dark .transactions-table-container {
  background-color: #1D1D41
}
#dark .table-scroll {
  background-color: #141332
}
#dark .budget {
  background-color: #1D1D41
}
#dark .budget-header {
  background-color: #1D1D41
}
#dark .budget-pie-chart {
  background-color: #1D1D41
}
#dark .budget-percentage-breakdown {
  background-color: #1D1D41
}
#dark {
  background-color:#141332
}

#dark .basic-select-label {
  color: #8C89B4; /* Adjusted for dark theme */
}
#dark .basic-select-select {
  color: #FFF; /* Adjusted for dark theme */
  background-color: #1D1D41; /* Adjusted for dark theme */
}

/* Switch label */
.switch{
  margin: 10px;
}
#light .switch label{
  color: black; 
}
#dark .switch label{
  color: white; 
}